ul{
    color: rgb(11, 11, 11);
    background-color: rgb(10, 246, 57);
    padding: 20px;
    justify-content: space-around;
    display: flex;
    list-style-type: none;
    cursor: pointer;

}